/*#region General styling*/
body
{
    background: url(pictures/background.jpg)top right no-repeat;
    background-attachment:fixed;
    background-position: center;
    padding: 0;
    background-size: cover;
    height: 100%;
    min-height: 100%;
    text-align: center;
    font-size: 20px;
}
#footer {
    width: 60%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: azure;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
}
#pageContent {
    align-items: center;
    text-align: center;
    width: 60%;
    min-height: 750px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    margin-top: 1%;
    background: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    z-index: -20;
    padding: 10px;
}
/*#endregion General styling*/
/*#region Navbar*/
.navbar {
    background-color: #fff;
    box-shadow: 2px 2px 2px;
    padding: 10px;
    opacity: 0.95;
    display: inline-block;
    align-self: center;
    z-index: 1;
    margin-left: 20%;
}
.navbar a {
	background: #f2efef;
	color: #000000;
	padding: 16px;
    font-size: 16px;
	border: none;
	text-decoration: none;
	font-family: "Arial", sans-serif;
    z-index: 1;
}
.nav_btns {
	background: #f2efef;
	color: #000000;
	padding: 16px;
	border: none;
    font-size: 16px;
    z-index: 1;
}
.nav_btns:hover:not(button), .active {
    background-color: #353638 !important;
    color: azure !important;
    z-index: 1;
}

.menu {
	position: relative;
	display: inline-block;
}
.menu_dropdown {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	z-index: 1;
}
.menu_dropdown a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
    z-index: 1;
}
.menu_dropdown a:hover {
	background-color: #353638;
    color: azure;
    z-index: 1;
}
.menu:hover .menu_dropdown {
	display: block;
    z-index: 1;
}
.menu:hover .menu_btn {
	background-color: #000000;
	color: #ffffff;
    z-index: 1;
}
.dropdown_btn:hover {
    background-color: #f1f1f1;
    color: #000000;
    z-index: 1;
}

#cartIcon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}
/*#endregion Navbar*/
/*#region Homepage styling*/
#homepageLink:hover, #ourstoryLink:hover, #cartLink:hover {
    background-color: #353638;
    color: azure;
}
p{
    margin: 5px;
}
#HomePageContent {
    padding-bottom: 11.5%;
}
#homepageHeader {
	padding-top: 105px;
	font-size: 100px;
	font-style: italic;
    margin-bottom: 0;
}
#homepageText {
	padding-top: 15px;
	font-size: 50px;
}
/*#endregion Homepage styling*/
/*#region Our story styling*/
#ourStoryImage {
    width: 80%;
}
#ourStoryContent {
    padding-bottom: 1%;
}
/*#endregion Our story styling*/
/*#region Menu styling*/
.menuDivs {
    padding-left: 20%;
}
.inPageMenuLinks {
    list-style-type: none;
    float: left;
    font-size: 25px;
    margin-right: 5px;
    margin-top: 9.8%;
}
.inPageMenuLinks a {
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
}
.inPageMenuLinks a:hover{
    color: rgba(0, 0, 0, .9);
    background: rgba(242, 239, 239, .9);
}
.menuTables {
    border: 5px;
    width: 95%;
    padding-top: 3%;
    padding-bottom: 3%;
}
#menuSaladsTable, #menuSpecialtiesTable, #menuDishesTable, #menuSaucesTable, #menuDessertsTable, #menuStartersTable, #menuBeveragesTable{
    padding-left: 2%;
    padding-right:2%;
}
#menuDessertsTable{
    width: 70%;
}
/*#endregion Menu styling*/
/*#region Event styling*/
.inPageEventLinks
{
    list-style-type: none;
    float: left;
    font-size: 25px;
    margin-right: 5px;
    margin-top: 5%;
    padding-left: 28px;
    padding-top: 8%;
}
.inPageEventLinks a
{
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
}
.inPageEventLinks a:hover{
    color: rgba(0, 0, 0, .9);
    background: rgba(242, 239, 239, .9);
}
#plannedEventsPageContent
{
    padding-left: 18%;
    text-align: center;
    margin: 0;
    display: block;
}
#planYourEventPageContent
{
    padding-left: 15%;
    padding-top: 2.6%;
    text-align: left;
    margin-left: 18%;
    margin-right: 5%;
    display: block;
}
/*#eventsIframe{
    width: 80%;
    margin-bottom: 5%;
    margin-right: 5%;
}*/
#plannedEventsTable{
    border: 5px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
#plannedEventsTable td{
    padding: 5px;
    margin: 1px;
    white-space: nowrap;
}
.inputBoxesPlaceOwnEvent{
    align-self: right;
    float: right;
    margin-right: 10%;
    width: 12rem;
}
.btnSectionPlanEvent{
    padding-right:10%;
    text-align: center;
}
.submitEventBtn{
    margin-right: 25px;
    font-size: 16px;
}
.resetBtn{
    font-size: 16px;
}
#submitFilterDatePlannedEvents{
    font-size: 16px;
    margin-top: 2%;
}
#goHomeButton{
    margin: 2%;
    background: #f2efef;
    color: #000000;
    padding: 8px;
    border: none;
    font-size: 16px;
    z-index: 1;
}
/*#endregion Event styling*/
/*#region Contact styling*/
.phoneLayout
{
    position: center;
}
.inPageContactLinks
{
    padding-left: 28px;
    list-style-type: none;
    float: left;
    font-size: 25px;
    margin-right: 5px;
    padding-top: 17%;
}
.inPageContactLinks a
{
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
}
.inPageContactLinks a:hover{
    color: rgba(0, 0, 0, .9);
    background: rgba(242, 239, 239, .9);
}
#contactLocationIFrame
{
    width: 90%;
    height: 500px;
    margin-bottom: inherit;
    border: none;
}
.phoneIcon{
    filter: brightness(200%);
    width: 45px;
    height: 40px;
    margin-right: 3%;
}
#contactFormDiv {
    padding-left: 2%;
    text-align: left;
    margin-left: 20%;
    display: block;
}
#contactForm{
    padding-top: 3%;
    padding-left: 18%;
    margin-right: 5%;
}
.inputBoxesContactForm{
    align-self: right;
    float: right;
    margin-right: 25%;
    width: 12rem;
}
#contactFormSubmitBtn{
    text-align: center;
    margin-left: 33%;
    font-size: 16px;
}
/*#endregion Contact styling*/
/*#region Cart styling*/
#cartDiv
{
    text-align: center;
}
#cartTable
{
    padding-left: 15%;
    border: 5px;
    margin: 5px;
    width: 80%;
    padding-right: 5px;
}
#removeItemButton{
    min-width: 100%;
    min-height: 100%;
    white-space: nowrap;
    color: #FFFFFF;
    background: none;
    border: none;
}
#removeItemButton:hover{
    color: orangered;
}
#checkoutButton{
    font-size: 16px;
    margin-top: 3%;
}
/*#endregion Cart styling*/
/*#region Login/signup styling*/
#loginDiv{
    background-color: #fff;
    box-shadow: 2px 2px 2px;
    padding: 10px;
    opacity: 0.95;
    display: inline-block;
    align-self: center;
    z-index: -20;
    margin-right: 20%;
}
.inputBoxesLogin{
    margin: 1px;
}
#signupHeader{
    align-self: center;
    color: white;
}
#loadSignupButton{
    text-decoration: none;
    font-family: "Arial", sans-serif;
}
#signUpBtn{
    margin-top: 3%;
    font-size: 16px;
}
/*#endregion*/